{% extends "_base.html" %}

{% block content %}
	<style>
	
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	main {
		margin: 40px;
	}

	h1 {
		font-size: 80px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	p {
		font-size: 26px;
		font-weight: 200;
		line-height: 1.7;

	}

	.wrapper {
		max-width: 800px;
		text-align: center;
	}

	</style>
	<div class="wrapper">
		<h1>Hello there, and welcome to Ami's WP starter!</h1>
		<p>This template exists in src/theme/views/sample-template.html</p>
		<p>Kill it and make your own!</p>
	</div>
	<div id="blank-component">
	</div>
{% endblock %}

{% block scripts %}
	<script>
	</script>
{% endblock %}